@use 'variables' as *;

.app {
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
  background: $white;
}

.app-content {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.app-main {
  flex: 1;
  padding: $gutter;
}

@media (max-width: 1080px) {
  .app {
    flex-direction: column;
  }
}
